@font-face {
  font-family: "Recoleta";
  src: url("@fonts/Recoleta/recoleta-regulardemo.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("@fonts/Roboto/Roboto-Thin.ttf"),
    url("@fonts/Roboto/Roboto-Light.ttf"),
    url("@fonts/Roboto/Roboto-Regular.ttf"),
    url("@fonts/Roboto/Roboto-Medium.ttf"), url("@fonts/Roboto/Roboto-Bold.ttf"),
    url("@fonts/Roboto/Roboto-Black.ttf");
}
