// colors
$green: #4b9200;
$orang: #f9804b;
$orang_dark: #e47209;
$yellow: #ffee2e;
$orang_grad: #fed290;
$pink_grad: #febdab;
$red: #d31414;
$black_blue: #333b41;
$gray: #767474;
$gray_smoky: #ababab;
$light_gray: #f1f3f2;
$frosted_glass_white: #fdfdff;
$white: #ffffff;
$black: #000000;
$pick_color: #fe9013;
$footer_color: #111115;
$input_text: #929699;

$radius: 25px;
